/**
 * @name flip_flop
 * @author Carson Young
 * @description Flip user messages to the right without float
 * @version 0.0.1
 */

.messageListItem-ZZ7v6g[user-id="987969601470087168"] img {
  position: absolute;
  left: auto;
  right: 16px;
  clear: right;
}

.messageListItem-ZZ7v6g[user-id="987969601470087168"] .message-2CShn3 {
  margin-left: auto;
  padding-left: 48px;
  margin-right: 0;
  padding-right: 72px !important;
  text-align: right;
}

.messageListItem-ZZ7v6g[user-id="987969601470087168"] .container-2sjPya {
  margin-left: auto;
}
